.svg {
  width: 1rem;
  height: 1rem;
  transition: all 0.4s;
  &_white {
    fill: #fff;
  }
  &_absolute {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 120%);
  }
  &_facebook {
    fill: #3b5998;
  }
  &_instagram {
    fill: #c32aa3;
  }
  &_twitter {
    fill: #1da1f2;
  }
}
