%button {
  background-color: $color-primary;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: $font-heading;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  &:hover {
    color: #fff;
  }
}
.button {
  @extend %button;
  &_input {
    border: 2px solid #fff;
    @extend %button;
    // border: 5px solid black;
    // border-image-source: url(../images/SVG/border2.svg);
    // For border image source we also need border-image-slice
  }
}
