.svg {
  width: 1rem;
  height: 1rem;
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  &_tiny {
    width: 3px;
    height: 3px;
    fill: darken($color-grey, 20%);
  }
  &_white {
    fill: #fff;
  }
  &_grey {
    fill: $color-grey-light;
    // fill: greenyellow;
  }
  &_absolute {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 120%);
  }
  &_facebook {
    fill: #3b5998;
  }
  &_instagram {
    fill: #c32aa3;
  }
  &_twitter {
    fill: #1da1f2;
  }

  &_large {
    width: ms(6);
    height: ms(6);
  }
}
