* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

html {
  @media (max-width: 900px) {
    font-size: 87.5%;
  }
}

body {
  font-family: "League Spartan", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
