* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

html {
  @media (max-width: 900px) {
    font-size: 87.5%;
  }
}

body {
  font-family: $font-body;
  font-size: ms(0);
  line-height: 1.8;
  // font-family: "Roboto Condensed", sans-serif;

  &.body_noScroll {
    overflow: hidden;
  }
}

.section {
  padding-top: ms(3);
  &_bottom {
    padding-top: ms(3);
  }
  .heading_2 {
    // font-size: 1rem;
  }
}
